.search-form {
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5em;

    form {
        margin-top: 1em;

        mat-form-field {
            width: 50%;
            margin-right: 1em;
        }
    }
}

a {
    text-decoration: none;

    mat-card {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;

        ::ng-deep {
            img[mat-card-image] {
                width: calc(100% + 32px);
                height: calc(width * 1.5);
            }

            mat-card-header .mat-card-header-text {
                margin: 0 auto;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}