a {
    text-decoration: none;

    mat-card {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;

        ::ng-deep {
            img[mat-card-image] {
                width: calc(100% + 32px);
                height: calc(width * 1.5);
            }

            mat-card-header .mat-card-header-text {
                margin: 0 auto;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}