<div class="search-form">
  <div>How good or bad is your favorite Hollywood celebrity's career?</div>
  <div>Type their name into the search box below to find out.</div>

  <form
    [formGroup]="searchForm"
    (ngSubmit)="onSearch()"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
  >
    <mat-form-field>
      <mat-label>Celebrity's Name (eg: Rick Moranis):</mat-label>
      <input matInput type="text" formControlName="name" required />
      <mat-error *ngIf="false">Name is required</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary">Search</button>
  </form>
</div>

<ng-container *ngIf="searchResults !== undefined && searchResults.results">
  <ng-container *ngIf="searchResults.total_results !== 0; else noResults">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutAlign="center">
      <ng-container *ngFor="let person of searchResults.results">
        <a
          *ngIf="person.name"
          (click)="selectPerson(person.id)"
          href="javascript: void(0)"
          fxFlex="23%"
          fxFlex.xs="100%"
        >
          <mat-card class="searchResultsPerson">
            <mat-card-header>
              <mat-card-title>{{ person.name }}</mat-card-title>
            </mat-card-header>
            <img
              mat-card-image
              [src]="person.profile_path ? TMDB_IMAGE_BASE_PATH + person.profile_path : './assets/no_picture_found.jpg'"
              [alt]="'Photo of ' + person.name"
              ngxBrokenImg="./assets/no_picture_found.jpg"
            />
            <mat-card-actions>
              <button mat-button>Go &gt;</button>
            </mat-card-actions>
          </mat-card>
        </a>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noResults> No actors were found. Try searching for somebody else. </ng-template>
</ng-container>
