<ng-container *ngIf="person">
  <h2>{{ person.name }}</h2>
  <p>Let's see how {{ person.name }}'s career is going...</p>
</ng-container>

<ng-container *ngIf="movies">
  <ng-container *ngIf="moviesChartDataRaw">
    <ejs-chart id="chart-container" [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [title]="title">
      <e-series-collection>
        <e-series [dataSource]="moviesChartDataRaw" type="Line" xName="x" yName="y" name="Sales"></e-series>
      </e-series-collection>
    </ejs-chart>
  </ng-container>

  <div *ngFor="let movie of movies.cast">{{ movie.original_title }} - {{ movie.vote_average }}</div>
</ng-container>
