<ng-container *ngIf="person">
  <h2>{{ person.name }}</h2>
</ng-container>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap="0px">
  <div fxFlex="25%" fxFlex.xs="100%">
    <ng-container *ngIf="person">
      <mat-card class="searchResultsPerson">
        <mat-card-header>
          <mat-card-title>{{ person.name }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          [src]="person.profile_path ? TMDB_IMAGE_BASE_PATH + person.profile_path : './assets/no_picture_found.jpg'"
          [alt]="'Photo of ' + person.name"
          ngxBrokenImg="./assets/no_picture_found.jpg"
        />
      </mat-card>
    </ng-container>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%">
    <app-movie-highlighted
      *ngIf="lowestRatedMovie"
      [movie]="lowestRatedMovie"
      title="Lowest Rating"
    ></app-movie-highlighted>
  </div>
  <div fxFlex="25%" fxFlex.xs="100%">
    <app-movie-highlighted
      *ngIf="highestRatedMovie"
      [movie]="highestRatedMovie"
      title="Highest Rating"
    ></app-movie-highlighted>
  </div>
</div>

<ng-container *ngIf="movies">
  <ng-container *ngIf="moviesChartDataRaw">
    <p>Let's see how {{ person.name }}'s career is going...</p>
    <ejs-chart id="chart-container" [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [title]="title">
      <e-series-collection>
        <e-series [dataSource]="moviesChartDataRaw" type="Line" xName="x" yName="y" name="Sales"></e-series>
      </e-series-collection>
    </ejs-chart>
  </ng-container>
</ng-container>

<table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8">
  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <!-- Release Date Column -->
  <ng-container matColumnDef="releaseDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Release Date</th>
    <td mat-cell *matCellDef="let element">{{ element.releaseDate.toLocaleDateString() }}</td>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Rating</th>
    <td mat-cell *matCellDef="let element">{{ element.rating }}</td>
  </ng-container>

  <!-- Comparison Column -->
  <ng-container matColumnDef="comparison">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Comparison</th>
    <td mat-cell *matCellDef="let element" [ngClass]="getComparisonClass(element.comparison)">
      <ng-container *ngIf="element.comparison">
        <ng-container [ngSwitch]="element.comparison.direction">
          <ng-container *ngSwitchCase="ComparisonDirectionEnum.UP">
            <mat-icon aria-hidden="false" aria-label="Up Direction">keyboard_arrow_up</mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="ComparisonDirectionEnum.DOWN">
            <mat-icon aria-hidden="false" aria-label="Down Direction">keyboard_arrow_down</mat-icon>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="element.comparison; else noComparison">{{ element.comparison.amount }}</ng-container>
      <ng-template #noComparison></ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
